{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  
<head>
  <meta charset="UTF-8">

  <title>{% block title %}Meu Pacote{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block head %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% endblock %}
  
  <script>
    function toggleNavigation() {
      var navbar = document.getElementById("navbarSupportedContent");
      navbar.classList.toggle("show");
    }
  </script>

</head>
<body>
  <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="..">Meu Pacote</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/encomendas_pendentes">Encomendas Pendentes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/minhas_encomendas">Minhas Encomendas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/cadastrar_morador">Cadastrar Morador</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/cadastrar_funcionario">Cadastrar Funcionário</a>
            </li>
          </ul>

          {% if user.is_authenticated %}
          <li class="nav-item dropdown d-flex">
            <a class="nav-link dropdown-toggle text-white me-auto" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
          {% endif %}

        </div>
      </div>
    </nav>

  </header>
  <main>

    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p class="text-center">&copy; Meu Pacote - Projeto Integrador Univesp - Santos/SP</p>
    <p class="text-center">As informa&ccedil;&otilde;es ser&atilde;o tratadas nos termos da LGPD.</p>
  </footer>
  {% block scripts %}
    <script src={% static 'js/script.js' %} defer></script>
  {% endblock %}
</body>
</html>