<p style="text-align:center"><span style="font-size:20px">MEU PACOTE</span></p>

<p style="text-align:center"><span style="font-size:20px">EDIFICIO RESIDENCIAL MARAJOAH</span></p>

<p style="text-align:center"><span style="font-size:20px">RUA ALBERTO BACARAT 50 - SANTOS / SP</span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-size:20px"><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/tela_meu_pacote(1).jpg" style="height:162px; width:288px" /></span></p>

<p style="text-align:center">&nbsp;</p>

<ul>
	<li><a href="{% url 'cadastro de moradores' %}">cadastro de moradores</a></li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<ul>
	<li><a href="{% url 'cadastro de recebedores (moradores e funcionários)' %}">cadastro de recebedores</a></li>
</ul>

<p>&nbsp;</p>

<ul>
	<li><a href="{% url 'encomendas_esperadas' %}">Encomendas Pendentes</a></li>
	<li><a href="{% url 'encomendas_entregues' %}">Encomendas Entregues</a></li>
	<li><a href="{% url 'moradores' %}">Moradores</a></li>
	<li><a href="{% url 'apartamentos' %}">Apartamentos</a></li>
</ul>

<p>As informa&ccedil;&otilde;es ser&atilde;o tratadas nos termos da LGPD</p>
